pipeline/PL_APPEND_VAR.json
{
	"name": "PL_APPEND_VAR",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": {
						"value": "90",
						"type": "Expression"
					}
				}
			},
			{
				"name": "output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Output",
					"value": {
						"value": "@variables('x')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"x": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5
				]
			},
			"Output": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}