adfmultfiletoparquet/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfmultfiletoparquet"
		},
		"LS_LOOKUP_SQLTABLE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_LOOKUP_SQLTABLE'"
		},
		"LS_SERVER_ADLS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SERVER_ADLS'"
		},
		"LS_SP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SP'"
		},
		"LS_Source_SqlServer_Adls_Migration_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Source_SqlServer_Adls_Migration'"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"ds_source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ds_source'"
		},
		"ls_getmetadat_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_getmetadat'"
		},
		"ls_looku_demo_source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_looku_demo_source'"
		},
		"ls_lookup_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_lookup'"
		},
		"ls_lookup2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_lookup2'"
		},
		"ls_lookup_demo_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_lookup_demo'"
		},
		"ls_lookup_demo_source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_lookup_demo_source'"
		},
		"ls_lookup_tablewise_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_lookup_tablewise'"
		},
		"ls_source_sql_server_adls_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_source_sql_server_adls'"
		},
		"LS_LOOKUP_SQLTABLE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"LS_LOOKUP_SQLTABLE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"LS_LOOKUP_SQLTABLE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"LS_SERVER_ADLS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"LS_SERVER_ADLS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"LS_SERVER_ADLS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"LS_SP_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"LS_SP_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"LS_SP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"LS_Source_SqlServer_Adls_Migration_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"LS_Source_SqlServer_Adls_Migration_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"LS_Source_SqlServer_Adls_Migration_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ds_source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ds_source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ds_source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ls_getmetadat_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ls_getmetadat_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ls_getmetadat_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ls_looku_demo_source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ls_looku_demo_source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ls_looku_demo_source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ls_lookup_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ls_lookup_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ls_lookup_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ls_lookup2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ls_lookup2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ls_lookup2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ls_lookup_demo_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ls_lookup_demo_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ls_lookup_demo_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ls_lookup_demo_source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ls_lookup_demo_source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ls_lookup_demo_source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ls_lookup_tablewise_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ls_lookup_tablewise_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ls_lookup_tablewise_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		},
		"ls_source_sql_server_adls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-00IFFIA\\SQLEXPRESS"
		},
		"ls_source_sql_server_adls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2025"
		},
		"ls_source_sql_server_adls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Pethilraj"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_multi_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_multi_csv",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "outputd17foreach"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_multi_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_multi_parquet",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_LOOKUP_SQLTABLE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_LOOKUP_SQLTABLE_properties_typeProperties_server')]",
					"database": "[parameters('LS_LOOKUP_SQLTABLE_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_LOOKUP_SQLTABLE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_LOOKUP_SQLTABLE_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SERVER_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SERVER_ADLS_properties_typeProperties_server')]",
					"database": "[parameters('LS_SERVER_ADLS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SERVER_ADLS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SERVER_ADLS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SP_properties_typeProperties_server')]",
					"database": "[parameters('LS_SP_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SP_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Source_SqlServer_Adls_Migration')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_Source_SqlServer_Adls_Migration_properties_typeProperties_server')]",
					"database": "[parameters('LS_Source_SqlServer_Adls_Migration_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_Source_SqlServer_Adls_Migration_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Source_SqlServer_Adls_Migration_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ds_source_properties_typeProperties_server')]",
					"database": "[parameters('ds_source_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ds_source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ds_source_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_getmetadat')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_getmetadat_properties_typeProperties_server')]",
					"database": "[parameters('ls_getmetadat_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_getmetadat_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_getmetadat_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_looku_demo_source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_looku_demo_source_properties_typeProperties_server')]",
					"database": "[parameters('ls_looku_demo_source_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_looku_demo_source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_looku_demo_source_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_lookup')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_lookup_properties_typeProperties_server')]",
					"database": "[parameters('ls_lookup_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_lookup_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_lookup_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_lookup2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_lookup2_properties_typeProperties_server')]",
					"database": "[parameters('ls_lookup2_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_lookup2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_lookup2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_lookup_demo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_lookup_demo_properties_typeProperties_server')]",
					"database": "[parameters('ls_lookup_demo_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_lookup_demo_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_lookup_demo_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_lookup_demo_source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_lookup_demo_source_properties_typeProperties_server')]",
					"database": "[parameters('ls_lookup_demo_source_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_lookup_demo_source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_lookup_demo_source_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_lookup_tablewise')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_lookup_tablewise_properties_typeProperties_server')]",
					"database": "[parameters('ls_lookup_tablewise_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_lookup_tablewise_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_lookup_tablewise_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_source_sql_server_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_source_sql_server_adls_properties_typeProperties_server')]",
					"database": "[parameters('ls_source_sql_server_adls_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_source_sql_server_adls_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_source_sql_server_adls_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IrOnpremSQL",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_ONLY_SALES_FILE_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adls_csv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,'Sales')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter1').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_multi_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-11T18:16:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_multi_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_D17_FOREACH_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_adls_csv",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_multi_csv",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adls_csv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-13T01:58:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_multi_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_FILTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().SIC_Code,'1110')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_csv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-11T17:32:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_LOOKUP_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_csv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-11T16:44:22Z"
			},
			"dependsOn": []
		}
	]
}